[Unit]
Description=ArgonOne fan control daemon

[Service]
EnvironmentFile=/etc/sysconfig/argononefan
ExecStart=/usr/sbin/argononefan daemon
Restart=on-failure
Type=simple

[Install]
WantedBy=multi-user.target
